@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;700;900&display=swap");

:root {
  --bg: #100e1d;
  --bg-secondary: #1e213a;
  --bg-btn: #6e707a;
  --text: #e7e7eb;
  --text-secondary: #a09fb1;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Raleway", sans-serif;
  background: var(--bg);
  color: var(--text);
  min-height: 100vh;
}
.container {
  display: grid;
  gap: 2rem;
}
.main {
  background: var(--bg-secondary);
  width: 100vw;
  padding: 1rem 0;
  position: relative;
}
.form_search {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  padding: 2rem;
  position: absolute;
  inset: 0;
  height: 100vh;
  width: min(100vw, 500px);
  z-index: 10;
  background-color: var(--bg-secondary);
  transform: translateX(-110%);
  transition: 0.2s ease-in-out;
}
.form_search.active {
  transform: translateX(0);
}
.form_search .close {
  all: unset;
  color: var(--text);
  cursor: pointer;
  align-self: flex-end;
}

.input {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.5rem;
}
.input button {
  all: unset;
  background-color: #3c47e9;
  padding: 1rem;
  cursor: pointer;
  border: 1px solid #3c47e9;
  flex-grow: 1;
  text-align: center;
}
.input > div {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid var(--text);
  gap: 1rem;
  cursor: pointer;
}
.input label {
  font-size: 1.2em;
  display: grid;
  place-items: center;
  padding: 0.2rem;
}
.form_search form input {
  all: unset;
  color: var(--text);
}
.options ul {
  list-style: none;

  transform: translateY(-10%);
  opacity: 0;
  gap: 1rem;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.options ion-icon {
  transition: 0.2s ease-in-out;
}
.options.open {
  border: 1px solid var(--text);
}
.options.open div {
  border: none;
}
.options.open ul {
  display: grid;
  transform: translateY(0);
  opacity: 1;
}
.options.open ion-icon {
  transform: rotate(90deg);
}
.options ul li {
  padding: 1rem;
}
a {
  text-decoration: none;
  color: var(--text);
}

.options ion-icon {
  cursor: pointer;
}

.first-option {
  width: 100%;
  background: none;
  border: none;
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--text);
  padding: 1rem;
  color: var(--text);
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.first-option svg {
  transition: 0.2s ease-in-out;
}
.open svg {
  transform: rotate(90deg);
}
#recent-seraches li button {
  all: unset;
  cursor: pointer;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header::before {
  content: "";
  position: absolute;
  top: 10%;
  height: 100%;
  width: 100%;
  opacity: 0.1;
  background: url(../public/assets/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.degrees {
  display: none;
  margin-right: 3rem;
  place-self: end;
}
.degrees button {
  all: unset;
  background: var(--bg-btn);
  color: var(--text);
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}
.search {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
  align-items: center;
  position: relative;
}
.open-btn {
  border: none;
  background-color: var(--bg-btn);
  color: var(--text);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding: 10px 18px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.search .search-btn {
  all: unset;
  font-size: 25px;
  padding: 10px;
  background-color: var(--bg-btn);
  border-radius: 50%;
  display: grid;
  cursor: pointer;
}
.img {
  width: 259px;
  margin: auto;
}

img {
  width: 100%;
}
.temp {
  display: grid;
  place-items: center;
  gap: 5rem;
  text-align: center;
  color: var(--text-secondary);
  padding: 15px;
}
.temp__main {
  font-weight: 500;
  font-size: 144px;
  line-height: 169px;
  color: var(--text);
}
.temp__details {
  display: grid;
  gap: 1.5rem;
}
.temp h4 {
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}
.temp p {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}
.temp__city {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.temp__city > div {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.week-days {
  width: 400px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 1rem;
  text-align: center;
  color: var(--text-secondary);
}
.day {
  width: 160px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: grid;
  place-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--bg-secondary);
}
.day .date {
  color: var(--text);
}
.day-temp {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.day-temp :nth-child(1) {
  color: var(--text);
}
.more__details {
  display: grid;
  place-items: center;
  gap: 1rem;
  text-align: center;
}
.heighlights {
  display: grid;
  gap: 2rem;
}
.heighlights-wrapper {
  background-color: var(--bg-secondary);
  display: grid;
  gap: 2rem;
  padding: 1rem;
}
.heighlights-wrapper .wind {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.heighlights-wrapper .wind .wind-icon {
  padding: 0.5rem;
  background-color: var(--bg-btn);
  color: var(--text);
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.wind-icon svg {
  transform: rotate(var(--deg));
}
.humidity {
  width: 100%;
  display: grid;
}
.progress-nums {
  display: flex;

  justify-content: space-between;
  align-items: center;
}
.progress-bar {
  height: 20px;
  background-color: #e7e7eb;
  position: relative;
  border-radius: 10px;
}
.progress-bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: var(--percent);
  height: 100%;
  background-color: #ffec65;
  border-radius: inherit;
}
.progress-bar::after {
  content: "%";
  position: absolute;
  top: 100%;
  right: 0;
}
.heighlights-wrapper {
  width: 300px;
  display: grid;
  place-items: center;
}
.heighlights-wrapper h2 {
  font-weight: 700;
  font-size: 2em;
  line-height: 75px;
  color: var(--text);
}
.main-details {
  display: grid;
  place-items: center;
  gap: 1rem;
  padding: 1rem 0;
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 2em;
  font-weight: 700;
}

.loading h1 {
  animation: loading 2s ease-in-out infinite;
}
@keyframes loading {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.loading::before {
  content: "";
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 300px;
  height: 300px;
  background-image: url(../public/assets/loading.svg);
}
.no-position {
  position: absolute;
  top: 50%;
  left: auto;
  text-align: center;
  padding: 1rem;
  font-size: 1em;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.no-position form {
  background: var(--bg-btn);
  color: var(--text);
  padding-left: 1rem;
}
.no-position form input {
  all: unset;
}
.no-position form input::placeholder {
  color: var(--bg);
}
@media only screen and (min-width: 850px) {
  .container {
    height: 100vh;
    grid-template-columns: 1.5fr 3fr;
  }
  .main {
    width: 500px;
  }

  .week-days {
    width: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .heighlights {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .degrees {
    display: flex;
    gap: 1rem;
  }
  /* .form_search {
    width: 500px;
    height: 100vh;
  } */
}
